<div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <img src="../../../assets/profilepic.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
        <p id="nombre"> Belen Hernández </p>
        <p id="profile">Full Stack Web Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
        <span>
            <h1 id="sobremi">Sobre mí</h1>
            <p id="sobremi">Soy profesora de inglés con experiencia laboral
                en distintos niveles del sistema educativo. Me interesa todo lo 
                relacionado con la computación y la programación. 
                Actualmente estoy formándome en programación Web Full Stack.</p>
        </span>
    </div>
</div>

